body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(34, 40, 49);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.clientoverlay {
    height: 100px;
    position: fixed;
    overflow: hidden;
    width: 20%;
    top: 2%;
    right: 1%;
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(57, 62, 70);
}

.contactoverlay {
    height: 500px;
    position: fixed;
    overflow: hidden;
    width: 20%;
    margin-top: 150px;
    right: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(57, 62, 70);
}

.contactmaininfo {
    width: 95%;
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5%;
}

.contacticon {
    height: 70px;
    width: 70px;
}

.contacticon img {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactusername {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactbio {
    height: 500px;
    width: 95%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(89, 97, 109);
}

.contactbio::-webkit-scrollbar {
    width: 0;
}

.contactbio {
    scrollbar-width: none;
}

.actionoverlay {
    height: 20%;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    width: 5%;
    left: 1%;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(57, 62, 70);
}

.groupoverlay {
    height: 15%;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    width: 15%;
    top: 1.5%;
    left: 7%;
    display: none; /*Previously flex*/
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(57, 62, 70);
}

.creategroup {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(0, 173, 181);
}

.dms {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(0, 173, 181);
}

.overlayicon {
    width: 70px;
    height: 70px;
    margin-left: 1%;
    flex-shrink: 0;
}

.overlayicon img {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.extra {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.name {
    margin-top: 2%;
}

.settings {
    height: 30px;
    width: 30px;
    background-color: rgb(0, 173, 181);
}

.groups {
    height: 75%;
    width: 5%;
    margin-top: 1.5%;
    margin-left: 1%;
    overflow-y: auto;
    align-items: center;
    box-sizing: border-box;
    justify-items: center;
}

.groups::-webkit-scrollbar {
    width: 0;
}

.groups {
    scrollbar-width: none;
}

.group {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.group img {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.channels {
    height: 81%;
    width: 15%;
    margin-top: 8.5%;
    border-radius: 20px;
    justify-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 20px;
    display: none; /*Previously non-existant*/
    background-color: rgb(57, 62, 70);
}

.channels::-webkit-scrollbar {
    width: 0;
}

.channels {
    scrollbar-width: none;
}

.channel {
    height: 30px;
    width: 98%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.channel:hover {
    background-color: rgba(225, 225, 225, 0.1);
    cursor: pointer;
}

.createchannel {
    height: 30px;
    width: 98%;
    border-radius: 10px;
    background-color: rgb(0, 173, 181);

}

.contacts {
    height: 95%;
    width: 20%;
    margin-top: 1.5%;
    border-radius: 20px;
    justify-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(57, 62, 70);
}

.contacts::-webkit-scrollbar {
    width: 0;
}

.contacts {
    scrollbar-width: none;
}

.contact {
    height: 50px;
    width: 98%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    gap: 5%;
}

.contact:hover {
    background-color: rgba(225, 225, 225, 0.1);
    cursor: pointer;
}

.contact_image_container {
    height: 40px;
    width: 40px;
}

.contact_image_container img {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
width: +- 7%, depending on contacts.
Channels: 76%
Contacts: 69%
*/

.chat {
    margin-top: 1.5%;
    height: 95%;
    width: 69%;
    display: none; /*Previously flex*/
    flex-direction: column;
}

.messages {
    height: auto;
    width: 73%;
    flex: 1;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    width: 0;
}

.messages {
    scrollbar-width: none;
}

.message {
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
}

.usericon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.usericon img {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(57, 62, 70);
}

.input {
    height: 65px;
    width: 63%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.textarea {
    min-height: 40px;
    max-height: 500px;
    width: 90%;
    display: flex;
    align-items: flex-end;
}

.text {
    min-height: 30px;
    max-height: 500px;
    z-index: 2;
    width: 100%;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: rgb(57, 62, 70);
}

.text::-webkit-scrollbar {
    width: 0;
}

.text {
    scrollbar-width: none;
}

.text:focus {
    outline: none;
}