<!DOCTYPE html>
<html>
    <head>
        <title>{{ username }}</title>
        <link rel="icon" href="{{ url_for('static', path='Images/Icon.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', path='client.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="clientoverlay" id="clientoverlay"></div>

            <div class="actionoverlay" id="actionoverlay">
                <div class="creategroup" id="creategroup"></div>
                <div class="dms" id="dms"></div>
            </div>

            <div class="contactoverlay" id="contactoverlay">
                <div class="contactmaininfo">
                    <div class="contacticon">
                        <img src="">
                    </div>
                    <div class="contactusername names_headers">Silly Member</div>
                </div>
                <div class="contactbio userinput">
                    <div class="aboutme subheaders">About me</div>
                    Some bio goes here
                </div>
            </div>

            <div class="groupoverlay" id="groupoverlay"></div>

            <div class="groups" id="groups"></div>

            <div class="channels" id="channels">
                <div class="createchannel"></div>
            </div>

            <div class="contacts" id="contacts"></div>

            <div class="chat" id="chat">
                <div class="messages" id="messages"></div>
                <div class="input">
                    <div class="textarea">
                        <textarea class="text userinput" id="inputarea" placeholder="Start chatting..."></textarea>
                    </div>
                    <div class="send"></div>
                </div>
            </div>
        </div>

        <script>
            const client_id = {{ id|tojson }};
            const client_icon_path = {{ icon_path|tojson }};
            const client_username = {{ username|tojson }}
            const token = localStorage.getItem('ATK');
            const ws_addr = {{ addr|tojson }};

            const clientoverlay = document.getElementById('clientoverlay');
            const actionoverlay = document.getElementById('actionoverlay');
            const contactoverlay = document.getElementById('contactoverlay');
            const groupoverlay = document.getElementById('groupoverlay');
            const chat = document.getElementById('chat');

            const groups = document.getElementById('groups');
            const channels = document.getElementById('channels');
            const messages = document.getElementById('messages');
            const contacts = document.getElementById('contacts');

            const groups_all = document.querySelectorAll('.group');
            const contacts_all = document.querySelectorAll('.contact');
            const channels_all = document.querySelectorAll('.channel');
            const messages_all = document.querySelectorAll('.message');

            var current_group = 'none';
            var current_channel = 'none';

            const conn = new WebSocket(`${ws_addr}`);

            /*
            Message:

            <div class="message" id=" message.id ">
                <div class="usericon">
                    <img src=" message.icon_path ">
                </div>
                <div class="messagebody">
                    <div class="messageuser names_headers">
                         message.username 
                    </div>
                    <div class="content userinput">
                         message.content 
                    </div>
                </div>
            </div>

            Groupoverlay:

            <div class="groupoverlay" id="groupoverlay">
                <div class="groupname names_headers"><b>Great group</b></div>
            </div>

            Channel:

            <div class="channel names_headers" id=" channel.id "># - Name</div>
            
            */

            /*
            ON LOAD:
            Groups;
            Contacts;
            Empty - ?;
            */

            function preload(preload_set) {
                preload_set.groups.forEach(group => {
                    const group_class = document.createElement('div');
                    group_class.className = 'group';
                    group_class.id = group.id;
                    group_class.innerHTML = `<img class="groupicon" src="${group.icon_path}">`;
                    groups.appendChild(group_class);
                });

                preload_set.contacts.forEach(contact => {
                    const contact_class = document.createElement('div');
                    contact_class.className = 'contact';
                    contact_class.id = contact.id;
                    contact_class.innerHTML = `
                    <div class="contact_image_container">
                        <img src="${contact.icon_path}">
                    </div>
                    <div class="contactname names_headers">${contact.username}</div>`;
                    contacts.appendChild(contact_class);
                });

                clientoverlay.innerHTML = `
                <div class="overlayicon">
                    <img src="${client_icon_path}">
                </div>
                <div class="extra">
                    <div class="name names_headers">${client_username}</div>
                    <div class="settings"></div>
                </div>`;
            }

            async function validate() {
                const response = await fetch('/client/validate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token: token, id: client_id })
                });

                if (!response.ok) {
                    window.location.href = '/auth/login';
                } else {
                    const data = await response.json();
                    await conn.send(client_id);
                    preload(data);
                }
            }

            window.onload = function() {
                validate();
            };

            async function get_id() {
                const response = await fetch(`/client/get_id`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token: token, id: client_id })
                });

                if (response.ok) {
                    const result = await response.json();
                    return result.message_id;
                } else {
                    window.location.href = '/auth/login';
                }
            }

            /*
            Active listeners
            */

            groups_all.forEach(group => {
                group.addEventListener('click', async function() {
                    const previous_channel = document.getElementById(current_channel);
                    if (current_group === 'none') {
                        contacts.style.display === 'none';
                        channels.style.display = '';
                        contactoverlay.style.display = 'none';
                        if (chat.style.display === 'none') {
                            chat.style.display = 'flex';
                        }
                    }
                    groupoverlay.style.display = 'flex';
                    groupoverlay.innerHTML = `<div class="groupname names_headers"><b>${this.dataset.name}</b></div>`
                    channels.innerHTML = '';
                    messages.innerHTML = '';

                    await conn.send(`{"request": "ChannelsFetch", "id": "${this.id}"}`);
                });
            });

            channels_all.forEach(channel => {
                channel.addEventListener('click', async function() {
                    const previous = document.getElementById(current_channel);
                    messages.innerHTML = '';
                    previous.style.backgroundColor = 'none';
                    this.style.backgroundColor = 'rgba(225, 225, 225, 0.2)';
                    current_channel = this.id;
                    await conn.send(`{"request": "MessagesRecentFetch", "id": "${this.id}"}`);
                });
            });

            contacts_all.forEach(contact => {
                contact.addEventListener('click', async function() {
                    const previous = document.getElementById(current_channel);
                    if (chat.style.display === 'none') {
                        chat.style.display = 'flex';
                    }
                    if (groupoverlay.style.display !== 'none') {
                        groupoverlay.style.display === 'none';
                    }
                    messages.innerHTML = '';
                    previous.style.backgroundColor = 'none';
                    this.style.backgroundColor = 'rgba(225, 225, 225, 0.2)';
                    current_channel = this.id;
                    await conn.send(`{"request": "PrivateMessagesFetch", "id": "${this.id}"}`);
                });
            });

            document.getElementById("dms").onclick = async function (event) {
                if (current_group !== 'none') {
                    groupoverlay.style.display === 'none'
                    channels.style.display === 'none';
                    contacts.style.display === '';
                    chat.style.display === 'none';
                    messages.innerHTML = '';
                    await conn.send(`{"request": "PrivateChannelsFetch", "id": "${client_id}"}`);
                }
            };

            /*const ws_addr =  ;
            const client_id =   ;
            const client_icon_path =   ;
            const client_username =  ;

            const token = localStorage.getItem('ATK');

            const groups_class = document.getElementById('groups');
            const channels_class = document.getElementById('channels');
            const messages_class = document.getElementById('messages');
            const modal_container = document.getElementById('modalcontainer'); //? To be implemented later!

            const groups_all = document.querySelectorAll('.group');
            const channels_all = document.querySelectorAll('.channel');
            
            //PRELOADED DATA!
            const preloaded_data = ;
            //CURRENT VIEW
            var current_group_id = '';
            var current_channel_id = '';

            const conn = new WebSocket(`${ws_addr}`);

            async function validate() {
                const response = await fetch('/client/validate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token: token, id: client_id })
                });

                if (!response.ok) {
                    window.location.href = '/auth/login';
                }
            }

            window.onload = function() {
                validate();
            };

            async function load_message(content, username, icon_path, id) {
                const message_class = document.createElement('div');
                message_class.className = 'message';
                message_class.id = id;

                message_class.innerHTML = `
                <div class="usericon">
                    <img src="${icon_path}">
                </div>
                <div class="messagebody">
                    <div class="messageuser names_headers">
                        ${username}
                    </div>
                    <div class="content userinput">
                        ${content}
                    </div>
                </div>`;
                messages_class.prependChild(message_class);
            }

            async function show_message(content, username, icon_path, id) {
                const message_class = document.createElement('div');
                message_class.className = 'message';
                message_class.id = id;

                message_class.innerHTML = `
                <div class="usericon">
                    <img src="${icon_path}">
                </div>
                <div class="messagebody">
                    <div class="messageuser names_headers">
                        ${username}
                    </div>
                    <div class="content userinput">
                        ${content}
                    </div>
                </div>`;
                messages_class.appendChild(message_class);
            }

            async function send_message(content) {
                const message_class = document.createElement('div');
                message_class.className = 'message';
                const message_id = await get_id();
                message_class.id = message_id;

                message_class.innerHTML = `
                <div class="usericon">
                    <img src="${client_icon_path}">
                </div>
                <div class="messagebody">
                    <div class="messageuser names_headers">
                        ${client_username}
                    </div>
                    <div class="content userinput">
                        ${content}
                    </div>
                </div>`;
                messages_class.appendChild(message_class);
                conn.send(`{"request": "ReceiveMessage", "id": "${message_id}", "content": "${content}", "username": "${client_username}", "icon_path": "${client_icon_path}"}`);
            }

            async function get_id() {
                const response = await fetch(`/client/get_id`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token: token, id: client_id })
                });

                if (response.ok) {
                    const result = await response.json();
                    return result.message_id;
                } else {
                    window.location.href = '/auth/login';
                }
            }

            groups_all.forEach(group => {
                group.addEventListener('click', function() {
                    //To be implemented!
                });
            });

            channels_all.forEach(channel => {
                group.addEventListener('click', function() {
                    const previous = document.getElementById(current_channel_id);
                    previous.style.backgroundColor = 'none';
                    this.style.backgroundColor = 'rgba(225, 225, 225, 0.2)';
                    current_channel_id = this.id;
                });
            });

            modal_container.addEventListener('click', async function(event) { //? To be updated!
                if (event.target.matches('.submit')) {
                    const modal_type = document.querySelector('.modal');

                    if (modal_type.id === 'group_create') {
                        modal_container.style.display = 'none';
                        const mgn = document.getElementById('name');
                        const mgd = document.getElementById('desc');
                        const id = await get_id();
                        conn.send(`{"request": "CreateGroup", "id": "${id}", "client_id": "${client_id}", "desc": "${mgd.value}", "name": "${mgn.value}"}`);
                        const group_class = document.createElement('div');
                        group_class.className = 'group';
                        group_class.id = id;
                        group_class.innerHTML = `<img src="test.jpg">`;
                        groups_class.appendChild(group_class);
                        current_group_id = id;
                    }

                    if (modal_type.id === 'channel_create') {
                        modal_container.style.display = 'none';
                        const mcn = document.getElementById('name');
                        const id = await get_id();
                        conn.send(`{"request": "CreateChannel", "id": "${id}", "client_id": "${client_id}", "group_id": "${current_group_id}", "name": "${mgn.value}"}`);
                        const channel_class = document.createElement('div');
                        channel_class.className = 'channel';
                        channel_class.id = id;
                        channel_class.innerText = mgn.value;
                        channels_class.appendChild(channel_class);
                        current_channel_id = id;
                    }
                }

                if (event.target.matches('.cancel')) {
                    modal_container.style.display = 'none';
                }
            });

            document.getElementById("createchannel").onclick = function (event) { //? To be updated!
                modal_container.innerHTML = `
                <div class="modal" id="channel_create">
                    <div class="image_upload" id="upload_icon"></div>
                    <div class="modaltext">
                        What should we call it?
                    </div>   
                    <input type="text" class="shortmodalinput" id="name" maxlength="20" rows="1" placeholder="Up to 20 characters long.">
                    <div class="cancel_submit">
                        <button class="modal_cancel" id="cancel"><u>Cancel</u></button>
                        <button class="modal_submit" id="submit">Create channel!</button>
                    </div>
                </div>`;
                modal_container.style.display = 'flex';
            };

            document.getElementById("creategroup").onclick = function (event) {
                modal_container.innerHTML = `
                <div class="modal" id="group_create">
                    <div class="image_upload" id="upload_icon"></div>
                    <div class="modaltext">
                        What should we call it?
                    </div>   
                    <input type="text" class="shortmodalinput" id="name" maxlength="20" rows="1" placeholder="Up to 20 characters long.">
                    <div class="modaltext">
                        How would you describe it?
                    </div> 
                    <textarea class="longmodalinput" id="desc" maxlength="300" rows="1" placeholder="Up to 300 characters long."></textarea>
                    <div class="cancel_submit">
                        <button class="modal_cancel" id="cancel"><u>Cancel</u></button>
                        <button class="modal_submit" id="submit">Create group!</button>
                    </div>
                </div>`;
                modal_container.style.display = 'flex';
            };

            document.getElementById('chatinput').addEventListener('keydown', function(event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    if (event.target.value.trim() !== '') {
                        event.preventDefault();
                        send_message(event.target.value);
                        event.target.value = '';
                    }
                }
            })

            //Websocket listener

            conn.addEventListener('open', function(event) {
                conn.send(`${client_id}`);
            })

            conn.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (data.request === 'LoadGroup') {
                    channels_class.innerHTML = ''
                    data.channels.forEach(channel => {
                        const channel_class = document.createElement('div');
                        channel_class.className = 'channel';
                        channel_class.id = channel.id;
                        channel_class.innerText = channel.name;
                        channels_class.appendChild(channel_class);
                    });
                }

                if (data.request === 'LoadChannel') {
                    if (data.group_id === current_group_id) {
                        const channel_class = document.createElement('div');
                        channel.className = 'channel names_headers';
                        channel.id = data.id;
                        channel_class.innerText = `# - ${data.name}`;
                        const last = channels.lastElementChild;
                        channels.insertBefore(channel_class, last);
                        if (data.creator_id === client_id) {
                            const previous = document.getElementById(current_channel_id);
                            previous.style.backgroundColor = 'none';
                            channel_class.style.backgroundColor = 'rgba(225, 225, 225, 0.2)';
                            messages_class.innerHTML = '';
                            current_channel_id = channel_class.id;
                        }
                    }
                    const channels = localStorage.getItem('CHANNELS');
                    channels.push(data);
                    localStorage.setItem('CHANNELS', JSON.stringify(channels));
                }

                if (data.request === 'LoadGroup') {
                    if (data.group_id === current_group_id) {
                        const channel_class = document.createElement('div');
                        channel.className = 'channel names_headers';
                        channel.id = data.id;
                        channel_class.innerText = `# - ${data.name}`;
                        const last = channels.lastElementChild;
                        channels.insertBefore(channel_class, last);
                        if (data.creator_id === client_id) {
                            const previous = document.getElementById(current_channel_id);
                            previous.style.backgroundColor = 'none';
                            channel_class.style.backgroundColor = 'rgba(225, 225, 225, 0.2)';
                            messages_class.innerHTML = '';
                            current_channel_id = channel_class.id;
                        }
                    }
                    const groups = JSON.parse(localStorage.getItem('GROUPS'));
                    groups.push(data);
                    localStorage.setItem('GROUPS', JSON.stringify(groups));
                }

                if (data.request === 'NewMessage') {
                    if (data.channel_id === current_channel_id) {
                        show_message(data.content, data.username, data.icon_path, data.id);
                    }
                    const channels = JSON.parse(localStorage.getItem('CHANNELS'));
                    const target_channel = channels.find(channel => channel.id === data.channel_id);
                    target_channel.messages.push(data);
                    localStorage.setItem('CHANNELS', JSON.stringify(channels));
                }

                if (data.request  === 'LoadFirst') {
                    data.groups.forEach(group => {
                        const group_class = document.createElement('div');
                        group_class.className = 'group';
                        group_class.id = group.id;
                        group_class.innerHTML = `<img class="groupicon" src="${group.icon_path}">`;
                        groups_class.appendChild(group_class);
                    });

                    channels.forEach(channel => {
                        const channel_class = document.createElement('div');
                        channel.className = 'channel names_headers';
                        channel.id = channel.id;
                        channel_class.innerText = `# - ${channel.name}`;
                        channels_class.appendChild(channel_class);
                    });

                    related_channels[0].messages.forEach(message => {
                        load_message(message.content, message.username, message.icon_path, message.id)
                    });
                }
            }

            //Aminations

            const textarea = document.getElementById('inputarea');
            const longinputfields = document.querySelectorAll('.longmodalinput'); //Not yet implemented

            textarea.addEventListener('input', function () {
                this.style.height = 'auto';
                this.style.height = `${this.scrollHeight}px`;
            });

            longinputfields.forEach(longfield => {
                longfield.addEventListener('input', function() {
                    this.style.height = 'auto';
                    this.style.height = `${this.scrollHeight}px`;
                });
            }); */
        </script>
    </body>
</html>