/*
INTERFACE COLOURS:
- main: 54, 58, 63
- borders: 69, 81, 95
- modals:  46, 55, 66
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    width: 100%;
}

/*
FONT STYLES (GLOBAL)
*/

* {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.big {
    font-size: 120%;
    color: white;
}

.medium {
    font-size: 115%;
    color: white;
}

.small {
    font-size: 110%;
    color: white;
}

.message_fetched {
    font-size: 110%;
    color: white;
}

.message_pending {
    font-size: 110%;
    color: rgba(255, 255, 255, 0.5);
}

/*
ELEMENT STYLES (GLOBAL)
*/

.underlined {
    background: none;
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}

.underlined:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.transparent {
    background: transparent;
}

.transparent:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.transparent_clicked {
    background-color: rgba(255, 255, 255, 0.1);
}

/*
BORDER STYLES (GLOBAL)
*/

.border {
    border: 1px solid rgb(69, 81, 95);
}

.no_border {
    border: none;
    outline: none;
}

.no_border:focus, .no_border:active {
    outline: none;
}

/*
INTERACTIONS (GLOBAL)
*/

.nocopy {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pointer {
    cursor: pointer;
}

.underline_on_touch:hover {
    text-decoration: underline;
}

/*
COLOUR PALETTE (GLOBAL)
*/

.blue {
    background-color: rgba(0, 0, 255, 1);
}

.blue_clicked {
    background-color: rgba(0, 0, 255, 0.8);
}

.blue:hover {
    background-color: rgba(0, 0, 255, 0.8);
    cursor: pointer;
}

.red {
    background-color: rgba(255, 0, 0, 1);
}

.red_clicked {
    background-color: (255, 0, 0, 0.8);
}

.red:hover {
    background-color: (255, 0, 0, 0.8);
    cursor: pointer;
}

.white {
    background-color: rgba(255, 255, 255, 1);
}

.white_clicked {
    background-color: rgba(255, 255, 255, 0.8);
}

.white:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.green {
    background-color: rgba(0, 128, 0, 1);
}

.green_clicked {
    background-color: rgba(0, 128, 0, 0.8);
}

.green:hover {
    background-color: rgba(0, 128, 0, 0.8);
    cursor: pointer;
}

.grey {
    background-color: rgba(128, 128, 128, 1);
}

.grey_clicked {
    background-color: rgba(128, 128, 128, 0.8);
}

.grey:hover {
    background-color: rgba(128, 128, 128, 0.8);
    cursor: pointer;
}

/*
INTERACTIVE ELEMENTS (GLOBAL)
*/

.text_button {
    height: 30px;
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.img_button {
    height: 30px;
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.text_button:focus,
.text_button:active,
.img_button:focus,
.img_button:active {
    outline: none;
}

/*
WIDGETS (GLOBAL)
*/

.widget {
    background-color: rgb(54, 58, 63);
}

.silent_widget {
    background: transparent;
}

/*
GROUPS (GLOBAL)
*/

.group {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.group img {
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.group:hover {
    cursor: pointer;
}

#groups-widget-action-bar {
    height: 110px;
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#action-bar-addgroup {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgba(31, 29, 29, 1);
}

#action-bar-addgroup:hover {
    background-color: rgba(31, 29, 29, 0.5);
    cursor: pointer;
}

#action-bar-dms {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgba(31, 29, 29, 1);
}

#action-bar-dms:hover {
    background-color: rgba(31, 29, 29, 0.5);
    cursor: pointer;
}

/*
CHAT (GLOBAL)
*/

#messages {
    width: 100%;
    height: auto;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px; /*????????????????????*/
}

#messages::-webkit-scrollbar {
    width: 0;
}

#messages {
    scrollbar-width: none;
}

#input {
    width: 100%;
    max-height: 600px;
    padding-left: 0.5%;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: transparent;
    gap: 1%;
}

#input-field {
    height: 35px;
    max-height: 600px;
    width: 80%;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: rgb(31, 29, 29);
}

#input-field::-webkit-scrollbar {
    width: 0;
}

#input-field {
    scrollbar-width: none;
}

#input-attachement {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(31, 29, 29, 1);
}

#input-attachement:hover {
    background-color: rgba(31, 29, 29, 0.5);
    cursor: pointer;
}

#input-gif {
    height: 35px;
    width: 60px;
    border-radius: 5px;
    background-color: rgba(31, 29, 29, 1);
}

#input-gif:hover {
    background-color: rgba(31, 29, 29, 0.5);
    cursor: pointer;
}

.message {
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.message img {
    position: relative;
    width: 35px;
    border-radius: 50%;
    height: 35px;
}

.message img:hover {
    cursor: pointer;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*
POPUP WIDGETS
*/

.popup-widget {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    background-color: rgb(54, 58, 63);
}

#member-info-popup-widget {
    min-height: 200px;
    width: 15%;
    overflow: hidden;

    display: none;
}

#client-info-popup-widget {
    height: 200px;
    width: 20%;
    position: absolute;

    display: none;
}

#channel-action-menu-popup-widget {
    display: none;
}

#group-action-menu-popup-widget {
    top: 6%;
    left: 5.5%;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

/*
group-action-menu-popup-widget options
*/

.group_action_menu_option {
    width: 95%;
    height: 30px;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
}

.group_action_menu_option:hover {
    cursor: pointer;
}

.group_action_menu_option_name {
    width: 180px;
    height: 100%;
}

.group_action_menu_option_icon {
    width: 20px;
    height: 20px;
}

.group_action_menu_option_icon img {
    width: 100%;
    height: 100%;
    position: relative;
}

/*
MEMBER INFO POPUP
*/

#member-info-popup-widget-header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px;
    border-bottom-color: brown;
    border-bottom-style: solid;
}

#member-info-popup-widget-header img {
    position: relative;
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

#member-info-popup-widget-aboutme {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#member-info-popup-widget-joined {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*
MODALS
*/

#modal-blur-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 500;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal {
    height: auto;
    width: 20%;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 15px;
    background-color: rgb(46, 55, 66);
}

.modal_input {
    height: auto;
    width: 90%;
}

.modal_input_field {
    height: 40px;
    width: 100%;
    resize: none;
    padding: 7px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 5px;
    background-color: black;
}

.modal_input_field::-webkit-scrollbar {
    width: 0;
}

.modal_input_field {
    scrollbar-width: none;
}

.modal_choice {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
}

.modal_image {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(88, 81, 81);
}

.modal_image_input {
    height: 100%;
    width: 100%;
    opacity: 0;
}

/*
ERROR OVERLAY
*/

#error {
    height: auto;
    width: 15%;
    z-index: 2000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 15px;
    background-color: rgb(46, 55, 66);
}

#error-header {
    height: auto;
    width: 98%;
}

#error-ok {
    width: 90%;
}

#error-ok-button {
    width: 100%;
}